#dash-navbar {
    border-bottom: 1px solid $gray-300;
    .header-bar {
        justify-content: space-between;
    }
}
.dash-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    align-items: stretch;
    .side-bar {
        width: 360px;
        padding: $spacing-lg;
        border-right: 1px solid $gray-300;
        .menu-dashboard-container {
            .navbar-nav {
                .nav-item {
                    border-bottom: 1px solid $gray-200;
                    .nav-link {
                        color: $easyrad-blue-gray;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .dash-body {
        background: $gray-100;
        padding: $spacing-lg;
        .card {
            margin-bottom: $spacing-sm;
            .card-header {
                color: $easyrad-blue-gray;
                background: $white;
                .card-title {
                    margin: 0;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
            .card-body {
                text-align: left;
                .card-section {
                    margin: $spacing-lg 0;
                    .card-title {
                       color: $gray-600;
                    }
                    .contest-value {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .card-text {
                            margin: 0;
                            .card-value {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .dash-contest {
            .card {
                .card-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}