.footer-cta {
    color: $easyrad-dark;
    display: flex;
    align-items: center;
    .section-title {
        font-weight: 700;
        position: relative;
        margin-bottom: $spacing-lg;
    }
    .text-body {
        margin: 0 auto;
        p {
            color: $white;
        }
    }
    
}
.footer-top {
    background: $white !important;
    color: $easyrad-dark;
    .footer-widget {
        margin-bottom: $spacing-lg;
        .widget-title {
            font-size: 18px;
            font-weight: 700;
            padding-right: $spacing-lg;
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            font-family: $body-font;
        }
    }
    .menu {
        padding: 0;
        margin: 0;
        .menu-item {
            list-style: none;
            justify-content: flex-start;
            .nav-link {
                padding: $spacing-xs 0;
                color: $easyrad-dark;
                font-size: 14px;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .payment-logos {
        background: $white;
        padding: $spacing-lg;
        border-radius: $spacing-xs;
        margin-top: -70px;
        box-shadow: $shadow;
        .widget-title {
            color: $easyrad-blue-gray;
            margin-bottom: $spacing-lg;
        }
    }
}

.footer-bottom {
    background: $easyrad-blue-gray !important;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    .site-footer {
        .site-info {
            text-align: right;
        }
    }
}