.contestation {
    width: 100%;
    .wsf-group-tabs {
        justify-content: space-between;
        border: 0 !important;
        border-radius: $spacing;
        margin: $spacing-md 0 !important;
        .wsf-group-tab {
            a {
                font-size: 20px;
                @include media-breakpoint-down(xs) {
                    font-size: 16px;
                }
            }
            @include media-breakpoint-down(xs) {
                padding: 0;
                .tab-title {
                    display: none;
                }
            }
            &.wsf-tab-active {
                a {
                    color: $primary;
                    border: 1px solid $primary;
                    border-radius: 0;
                    text-transform: uppercase;
                    @include media-breakpoint-down(xs) {
                        .tab-title {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .contest-tab {
        .wsf-grid {
            @include media-breakpoint-down(xs) {
                margin: initial;
            }
        }
        .contest-section {
            padding: $spacing-xl 0;
            max-width: 800px !important;
            margin: 0 auto;
            .contest-field-group {
                .wsf-label {
                    font-size: 18px;
                    margin-bottom: $spacing;
                    color: $easyrad-blue-gray;
                    font-weight: bold;
                }
                p {
                    font-weight: 300;
                    font-size: 20px;
                }
                .wsf-button {
                    margin-right: $spacing-md;
                    padding: $spacing-sm $spacing-lg;
                    height: auto;
                    background-color: transparent;
                    border-color: $gray-700;
                    color: $easyrad-dark;
                    border-radius: 0;
                    &:checked {
                        + {
                            label.wsf-label {
                                background-color: $white;
                                border: 2px solid $primary;
                                color: $primary;
                            }
                        }
                    }
                    &.wsf-button-primary {
                        border-radius: $spacing-xs;
                        font-weight: 600;
                        font-size: 16px;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        padding: 1em 3em;
                        background-color: $primary;
                        border: 0;
                        &.btn-checkout {
                            border-radius: 50px;
                        }
                    }
                }
                .contest-field {
                    .wsf-label {
                        font-size: 16px;
                    }
                }
                &.button-radio {
                    .contest-field {
                        display: flex;
                        align-items: center;
                        &.wsf-button { 
                            padding: 0;
                            margin: 0;
                            + {
                                label.wsf-label {
                                    margin-right: $spacing-md;
                                    padding: $spacing-sm $spacing-lg;
                                    height: auto;
                                    background-color: transparent;
                                    border-color: $gray-700;
                                    color: $easyrad-dark;
                                    border-radius: 0;
                                }
                            }
                            &:checked {
                                + {
                                    label.wsf-label {
                                        background-color: $white;
                                        border: 2px solid $primary;
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}