.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    .hero-text {
        padding: $spacing-lg;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        img{
            background-color: transparent;
            padding: $spacing-xxl $spacing;
            width: 100%;
            max-width: 500px;
        } 
        .big-heading {
            padding: 0;
            margin: 0;
            span {
                color: $primary;
            }
        }
        .small-heading {
            padding: $spacing 0;
            font-weight: 400;
            font-size: 28px;
            @include media-breakpoint-down(xs) {
                font-size: 22px;
            }
            span {
                color: $primary;
            }
            &:after {
                display: none;
            }
        }
    }
    .hero-image {
        padding: 0;
        position: relative;
        z-index: 1;
        .slider-image {
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .slider-logo {
            background: $white;
            padding: $spacing $spacing-lg;
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: 100px;
        }
    }
}

