.hero-image{
    background-image:linear-gradient(rgba(255, 255, 255, 0.788),rgba(255, 255, 255, 0.534)), url("../assets/automotive-color-tools-and-matches.jpg");
    width: 100%;
    height: 55em;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 135em;
    }

    .hero-content {
        text-align: center;
        font-size: 1em;
        margin-top: 100px;
        width: 100%;
        img{
            width:500px;
            margin-top: 30px;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
        h1{
            text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.712);
        }
        .overlay{
            width: 80%;
            margin: 0px auto;
            text-align: center;
            @media (max-width:768px){
               display: none;
            }

            .overlay-card{
                background-color: $primaryRed;
                border-radius: 20px;
                height: 10em;
                width: 30em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin: 0px auto;
                padding: 10px;
                .overlay-img{
                    width: 15em;
                    height: 15em;
                    margin: -5em 0em 0em -5em;
                    img{
                        width: 100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
                .overlay-content{
                    width: 60%;
                    text-align: left;
                    padding: 5px 10px;
                    .white-heading{
                        font-size: 1.5em;
                        text-align: left;
                    }
                    hr{
                        width: 40%;
                        margin: 3px 0px;
                    }
                }
            }
        }
      }
      
}
.video-hero-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.233)), url("../assets/video-hero.png");
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 35em;
    }

    .hero-content {
        text-align: center;
        color: white!important;
        font-size: 1em;
        margin-top: 100px;
        img{
            width:500px;
            margin-top: 30px;
        }
        h1{
            color: white;
            margin-top: 100px;
            @media (max-width: 768px) {
                margin-top: 50px;
            }
        }
        .sm-text{
            color: white;
            width: 80%;
            margin: 20px auto;
        }
        .hero-nav{
            color: white;
            a{
                color:inherit;
            }
            a:hover{
                color: $primaryRed;
            }
        }
      }
      
}
.conducteur-hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.342)),url("../assets/conductuer-hero.png");
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 35em;
    }

    .hero-content {
        text-align: center;
        color: white!important;
        font-size: 1em;
        margin-top: 100px;
        img{
            width:500px;
            margin-top: 30px;
        }
        h1{
            color: white;
            margin-top: 100px;
            @media (max-width: 768px) {
                margin-top: 50px;
            }
        }
        .sm-text{
            color: white;
            width: 80%;
            margin: 20px auto;
        }
        .hero-nav{
            color: white;
            a{
                color:inherit;
            }
            a:hover{
                color: $primaryRed;
            }
        }
      }
      
}
.actualites-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.26)),url(../assets/actualités-hero.png)!important;
    background-position: center;
    height: 40em;
    color: white;
    @media (max-width:768px){
        height: 30em;
    }
    .hero-nav{
        color: white!important;
    }
    h1{
        color: white!important;
        margin-top: 100px;
        text-shadow: none!important;
    }
    .sm-text,.some-text{
        color: white;
    }
    a:hover{
        color: $primaryRed;
    }
}
.quote{
    width: 80%;
    margin: 20px auto;
    .h1{
        font-size: 1.5em;
        text-align: center;
        width: 80%;
        margin: 0px auto;
    }
}


.btn-phone{
    height: 72px;
    width: 15em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color:#DADADA ;
    border-radius: 0!important;
    margin: 0;
    .fa-phone-square{
        color:#000;
        margin: auto 2px;

    }
    .button-sub-text{
        font-family: inherit;
        font-style: inherit;
        font-weight: 500;
        font-size: 0.6em;
        line-height: 1em;
        text-align: left;
        letter-spacing: 0.01em;
        margin: auto 1em;
        padding: 5px 0px;

        .phone-no{
            font-family: inherit;
            font-style: inherit;
            font-weight: 900;
            font-size: 2.0em;
            letter-spacing: 0.01em;
        }
    }
}
.btn-secondary{
    height: 72px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: auto!important;
    border: none!important;
    border-radius: 0!important;
    .button-text{
        font-family: inherit;
        font-weight: 700;
        font-size: 1.2 em;
        margin: 0;


    }
}
.btn-primary{
    height: 50px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: 10px!important;
    border: none!important;
    border-radius: 5px!important;
    margin: 5em;
    .button-text{
        font-family: inherit;
        font-weight: 500;
        font-size: 1em;
        margin: 0;


    }
}
.btn-primary:hover{
    transform:scale(1.1);
}
.cards{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0px!important;
    width: 80%;
    margin: 10px auto -250px auto;
    

    @media (max-width: 768px) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0px;
        margin: 10px auto;
        width: 100%;
        box-shadow: none;
        
    }
    .card{
        flex-grow: 1;
        padding:3em 2em;
        margin: 0;
        display:flex;
        flex-flow:  column nowrap;
        justify-content: space-between;
        text-align: center!important;
        width:20%;
        min-width:180px;
        height:fit-content;
        min-height:250px ;
        border: none!important;
        border-radius:0px!important;
        box-shadow: $shadow;
        .sm-text{
            font-size: 0.6em;
        }
        
        .col-8{
            width: 100%!important;
        }
        @media (max-width: 768px) {
            width: 100%;
            flex-flow: row nowrap;
            justify-content: left;
            text-align: left;
            font-size: 2.0em;
            
            .sm-text{
                text-align: left;
                font-size: 0.5em;
            }
            .col-8{
                margin-left: 10px;
                .card-title{
                    font-size: 0.8em;
                    width: 80%;
                }

            }
        }
        .fa{
            color: $primaryBlack;
            font-size: 4.0em;
            margin-bottom: 20px;
            @media (max-width: 768px) {
                font-size: 2.5em;
            }
            
        }
        .card-title{
            font-family: inherit;
            font-style: inherit;
            font-weight: 900;
            font-size: 1em;
            color: $primaryBlack;
            margin-bottom:0px;
            width: 100%;
        }
        .sm-text{
            margin: 0em;
        }
        
        
    }
    .one,.five{background-color: #fff;}
    .two,.four{background-color: #FFD5D5;}
    .three{background-color:$primaryRed ;}
}