.hero-image{
    background-image:linear-gradient(rgba(255, 255, 255, 0.788),rgba(255, 255, 255, 0.534)), url("../assets/automotive-color-tools-and-matches.jpg");
    width: 100%;
    height: 45em;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 135em;
    }

    .hero-content {
        text-align: center;
        font-size: 1em;
        margin-top: 20px;
        width: 100%;
        img{
            width:500px;
            margin-top: 0px!important;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
        h1{
            text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.712);
        }
        .overlay{
            width: 80%;
            margin: 0px auto;
            text-align: center;
            @media (max-width:768px){
               display: none;
            }

            .overlay-card{
                background-color: $primaryRed;
                border-radius: 20px;
                height: 10em;
                width: 30em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin: 0px auto;
                padding: 10px;
                .overlay-img{
                    width: 15em;
                    height: 15em;
                    margin: -5em 0em 0em -5em;
                    img{
                        width: 100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
                .overlay-content{
                    width: 60%;
                    text-align: left;
                    padding: 5px 10px;
                    .white-heading{
                        font-size: 1.5em;
                        text-align: left;
                    }
                    hr{
                        width: 40%;
                        margin: 3px 0px;
                    }
                }
            }
        }
      }
      
}
.video-hero-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.233)), url("../assets/video-hero.png");
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 35em;
    }

    .hero-content {
        text-align: center;
        color: white!important;
        font-size: 1em;
        margin-top: 100px;
        img{
            width:500px;
            margin-top: 30px;
        }
        h1{
            color: white;
            margin-top: 100px;
            @media (max-width: 768px) {
                margin-top: 50px;
            }
        }
        .sm-text{
            color: white;
            width: 80%;
            margin: 20px auto;
        }
        .hero-nav{
            color: white;
            a{
                color:inherit;
            }
            a:hover{
                color: $primaryRed;
            }
        }
      }
      
}
.conducteur-hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.342)),url("../assets/conductuer-hero.png");
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    @media (max-width: 768px) {
        height: 35em;
    }

    .hero-content {
        text-align: center;
        color: white!important;
        font-size: 1em;
        margin-top: 100px;
        img{
            width:500px;
            margin-top: 30px;
        }
        h1{
            color: white;
            margin-top: 100px;
            @media (max-width: 768px) {
                margin-top: 50px;
            }
        }
        .sm-text{
            color: white;
            width: 80%;
            margin: 20px auto;
        }
        .hero-nav{
            color: white;
            a{
                color:inherit;
            }
            a:hover{
                color: $primaryRed;
            }
        }
      }
      
}
.actualites-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.26)),url("../assets/actualités-hero.png")!important;
    background-position: center;
    height: 40em;
    color: white;
    @media (max-width:768px){
        height: 30em;
    }
    .hero-nav{
        color: white!important;
    }
    h1{
        color: white!important;
        margin-top: 100px;
        text-shadow: none!important;
    }
    .sm-text,.some-text{
        color: white;
    }
    a:hover{
        color: $primaryRed;
    }
}
.quote{
    width: 80%;
    margin: 20px auto;
    .h1{
        font-size: 1.5em;
        text-align: center;
        width: 80%;
        margin: 0px auto;
    }
}


.btn-phone{
    height: 72px;
    width: 15em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color:#DADADA ;
    border-radius: 0!important;
    margin: 0;
    .fa-phone-square{
        color:#000;
        margin: auto 2px;

    }
    .button-sub-text{
        font-family: inherit;
        font-style: inherit;
        font-weight: 500;
        font-size: 0.6em;
        line-height: 1em;
        text-align: left;
        letter-spacing: 0.01em;
        margin: auto 1em;
        padding: 5px 0px;

        .phone-no{
            font-family: inherit;
            font-style: inherit;
            font-weight: 900;
            font-size: 2.0em;
            letter-spacing: 0.01em;
        }
    }
}
.btn-secondary{
    height: 72px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: auto!important;
    border: none!important;
    border-radius: 0!important;
    .button-text{
        font-family: inherit;
        font-weight: 700;
        font-size: 1.2 em;
        margin: 0;


    }
}
.btn-primary{
    height: 50px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: 10px!important;
    border: none!important;
    border-radius: 5px!important;
    margin: 5em;
    .button-text{
        font-family: inherit;
        font-weight: 500;
        font-size: 1em;
        margin: 0;


    }
}
.btn-primary:hover{
    transform:scale(1.1);
    background-color: $primaryRed;
}
.consignation-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.26)),url(../assets/consignation-hero.jpg)!important;
    background-position: center;
    height: 40em;
    color: white;
    @media (max-width:768px){
        height: 38em;
    }
    .hero-nav{
        color: white!important;
    }
    h1{
        color: white!important;
        margin-top: 100px;
        text-shadow: none!important;
    }
    .sm-text,.some-text{
        color: white;
    }
    a:hover{
        color: $primaryRed;
    }
}
.actualites-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.26)),url(../assets/actualités-hero.png)!important;
    background-position: center;
    height: 40em;
    color: white;
    @media (max-width:768px){
        height: 30em;
    }
    .hero-nav{
        color: white!important;
    }
    h1{
        color: white!important;
        margin-top: 100px;
        text-shadow: none!important;
    }
    .sm-text,.some-text{
        color: white;
    }
    a:hover{
        color: $primaryRed;
    }
}
.quote{
    width: 80%;
    margin: 20px auto;
    .h1{
        font-size: 1.5em;
        text-align: center;
        width: 80%;
        margin: 0px auto;
    }
}


.btn-phone{
    height: 72px;
    width: 15em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color:#DADADA ;
    border-radius: 0!important;
    margin: 0;
    .fa-phone-square{
        color:#000;
        margin: auto 2px;

    }
    .button-sub-text{
        font-family: inherit;
        font-style: inherit;
        font-weight: 500;
        font-size: 0.6em;
        line-height: 1em;
        text-align: left;
        letter-spacing: 0.01em;
        margin: auto 1em;
        padding: 5px 0px;

        .phone-no{
            font-family: $root-font-family;
            font-style: $root-font-style;
            font-weight: 900;
            font-size: 2.0em;
            letter-spacing: 0.01em;
        }
    }
}
.btn-secondary{
    height: 72px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: auto!important;
    border: none!important;
    border-radius: 0!important;
    color: $white;
    font-family: $root-font-family;
    font-style: bold;
    .button-text{
        font-family: $root-font-family;
        font-weight: 700;
        font-size: 1.2 em;
        margin: 0;
        color: $white;


    }
}
.btn-primary{
    height: 50px;
    width: 15em;
    text-align: center;
    background-color:$primaryRed;
    padding: 10px!important;
    border: none!important;
    border-radius: 5px!important;
    margin: 5em;
    color: $white;
    font-family: $root-font-family;
    font-style: bold;
    .button-text{
        font-family: $root-font-family;
        font-weight: 700;
        color: $white;
        font-size: 1em;
        margin: 0;


    }
}
.btn-primary:hover,.btn-secondary:hover{
    transform:scale(1.1);
}
.automatique-hero-image{
    background-image: url("../assets/radarautomatiquesHero.png");
    width: 100%;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    display:flex;
    flex-flow: column nowrap;
    padding:50px auto;
    margin-bottom: 200px;
    @media (max-width: 768px) {
        height: 35em;
    }

    .hero-content {
        text-align: left;
        color: white!important;
        font-size: 1em;
        margin-top: 100px;
        margin-left: 200px;
        width: 80%;
        @media(max-width:768px){
            text-align: center;
            margin: 100px auto;
        }
        .hero-nav{
            padding-left: 0px!important;
        }
        .button-scroll{
            text-align: center;
            width: 3em;
            height: 3em;
            border-radius: 100%;
            background-color: $primaryRed;
            margin: 120px auto!important;
            display: none;
            @media(max-width:768px){
                display: inline;
            }

            .fa{
                color: white;
                font-size: 1.5em;
                
            }
        }
        .overlay-image{
            position: absolute;
            right: 300px;
            top: 20px;
            z-index: 1000;
            @media(max-width:768px){
                display: none;
            }
        }
        .btn{
            margin-left: 0px!important;
            @media(max-width:768px){
                text-align: center;
                margin: 20px auto;
            }
        }
        img{
            width:500px;
            margin-top: 30px;
        }
        h1{
            width: 80%;
            text-align: left;
            color: white;
            margin-top: 100px;
            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                margin-top: 50px;
                margin: 50 auto 0 auto;
            }
        }
        .sm-text{
            color: white;
            text-align: left;
            width: 80%;
            margin: 20px 0px;
            width: 50%;
            line-height: 1.5;
            @media(max-width:768px){
                width: 100%;
                text-align: center;
            }
        }
        .hero-nav{
            color: white;
            a{
                color:inherit;
            }
            a:hover{
                color: $primaryRed;
            }
        }
      }
      
}