.navbar {
    min-height: 72px;
    width: 100%;
    padding: 0;
    @include media-breakpoint-down(md) {
		padding: 0;
        min-height: 100px;
    }
    @include media-breakpoint-down(sm) {
        background-color: $white;
        min-height: initial;
        height: 64px;
    }
    .brand {
        display: flex;
        align-items: center;
        .navbar-brand {
            background-color: $white;
            padding: $spacing;
            border-radius: 0 0 $spacing-xs $spacing-xs;
            img {
                width: 160px;
                @include media-breakpoint-down(md) {
                    width: 130px;
                }
                @include media-breakpoint-down(sm) {
                    width: 100px;
                }
            }
        }      
    }
    .navbar-collapse {
        &.show {
            background: $white;
            padding: $spacing-lg 0;
        }
    }
    .header-bar {
        width: 100%;
        display: flex;
        align-items: stretch;
        margin: 0;
        @include media-breakpoint-down(sm) {
            justify-content: space-between;
            align-items: stretch;
        }
        .logo-bar {
            padding: 0;
            height: 100%;
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            @include media-breakpoint-down(sm) {
                flex-direction: row;
            }
            .toggler-button {
                padding: $spacing;
                .navbar-toggler {
                    border: 0;
                    border-color: rgba(255, 255, 255, 1);
                    color: $white;
                    text-decoration: none;
                    float: left;
                    background-color: $easyrad-dark;
                    width: 48px;
                    height: 48px;
                    .navbar-toggler-icon {
                        border-color: rgba(255, 255, 255, 1)!important;
                        font-size: 1.5rem;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:active {
                        text-decoration: none;
                    }
                }
            }
            
            .material-icons {
                @include media-breakpoint-down(xs) {
                    margin-right: 0 !important;
                }
            }
        }
        .nav-block {
            display: flex;
            align-items: center;
            @include media-breakpoint-down(sm) {
                padding: 0;
                z-index: 10;
                background: $white;
            }
        }
        .contact-top {
            background: $gray-200;
            color: $easyrad-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            .number {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .header-contact {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 800;
                    line-height: 1em;
                }
                p {
                    margin: 0;
                    line-height: 1em;
                }
            }
        }
        .cta-top {
            background: $primary;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .navbar-nav {
        align-items: center;
        .active {
            .nav-link {
                font-weight: 600;
            }
        }
        .nav-link {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 500;
            padding: 0.8rem !important;
            text-transform: uppercase;
            color: $easyrad-dark !important;
            &:hover {
                font-weight: 600;
                color: $easyrad-dark;
            }
            &:active {
                font-weight: 700;
                color: $easyrad-dark !important;
            }
        }
        .nav-cta {
            padding-left: $spacing-lg;
            background-color: $primary;
            position: relative;
            &:before {
                position: absolute;
                font-family: 'Material Icons';
                content: '\e869';
                -webkit-font-feature-settings: 'liga';
                font-size: 16px;
                color: $white;
                left: 20px;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .nav-link {
                color: $white !important;
                
            }
        }
    }
}

::placeholder {
    color: $easyrad-dark;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
}




