$primaryBlack:#272323;
$primaryRed:#E31D3B;
$root-font-family:Roboto;
$root-font-style:normal;
$root-font-size:16px;
$font-bebas:'Bebas Neue Pro',Helvetica; 
$shadow:0px 38px 55px rgba(63, 63, 63, 0.11);
html,body{
    overflow-x: hidden;
}
.root{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.hr{
    width: 50%;
    height:3px;
    background-image:linear-gradient(to right,red,rgba(255, 0, 0, 0));
    margin: 10px 0px;
    display: block;
}
h1{
    font-family:$font-bebas;
    font-style: bold;
    font-weight: 900;
    font-size: 3.5em;
    color: $primaryBlack;
    text-align: center;
    text-transform: uppercase;
    @media(max-width:768px){
        font-size: 2.5em;
    }

}
h2{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 1.5em;
    color: $primaryBlack;
    text-align: left;
    text-transform: uppercase;
    margin: 20px 0px;

}
.sm-text{
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.01em;
    margin: auto 1em;
    padding: 5px 0px;
    color:$primaryBlack;
}
.red{
    color: $primaryRed;
}

body{
    .container-fluid{
        width: 100%;
        padding: 0px;
        margin: 0px auto!important;
               
        .news-group{
            width: 100%;
            height: fit-content;
            margin: 200px 0px;
            @media (max-width:768px){
                margin: 50px auto;
            }
            .news{
                width: 80%;
                margin: 20px auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                .news-card{
                    width: 25em;
                    height: 30em;
                    text-align: center;
                    background-color: white;
                    padding:30px 50px;
                    border-radius: 10px;
                    box-shadow:$shadow;
                    @media (max-width:768px){
                        margin-bottom: 20px;
                    }
                    .card-icon{
                        margin: 20px auto;
                        color: $primaryRed;
                        background-color: ghostwhite;
                        border: 0px solid $primaryRed;
                        width:6em;
                        height:6em;
                        border-radius: 100%;
                        padding: 10px;
                    }
                    .h1{
                        font-size:1.5em;
                        text-align: center;
                        margin: 30px 0px;
                    }
                    .some-text{
                        margin: 40px 0px;
                    }
                }
                .news-card:hover{
                    width: 25em;
                    height: 30em;
                    text-align: center;
                    background-color: $primaryRed;
                    padding:30px 50px;
                    border-radius: 10px;
                    box-shadow:$shadow;
                    @media (max-width:768px){
                        margin-top: 40px;
                    }
                    .card-icon{
                        margin: -70px auto 110px;
                        color: $primaryRed;
                        background-color: ghostwhite;
                        border: 1px solid $primaryRed;
                        width:6em;
                        height:6em;
                        border-radius: 100%;
                        padding: 10px;
                        
                    }
                    .h1{
                        font-size:1.5em;
                        text-align: center;
                        margin: 30px 0px;
                        color: white;
                    }
                    .some-text{
                        margin: 40px 0px;
                        color: white;
                    }
                    .btn-md-primary{
                        background-color: white;
                        .sm-button-text{
                            color: $primaryRed;
                        }
                    }
                }
            }
        }
        
        .contestation{
            margin: 20px auto;
            .tab-wrapper{
                width: 80%;
                text-align: center;
                margin: 20px auto;
                
            }
            .btn-md-primary{
                background-color:#DBDEE4;
                width: 15em;
                @media (max-width:768px){
                    display: none;
                }                
            }
            .active,.btn-md-primary:hover{
                background-color: $primaryRed;
                color: white;
                font-weight: 600;
                font-style: bold;
                @media (max-width:768px){
                    display: inline-block;
                    border-radius: 5px!important;
                }                
            }
            .contestation-body{
                width: 65%;
                margin: 50px auto;
                text-align: center;
                border: 1px solid rgb(231, 231, 231);
                border-radius: 10px;
                .h1{
                    font-size: 1.5em;
                }
                .contestation-en-ligne{
                    @media (max-width:768px){
                        width: 100%;
                        display: block;
                    } 
                    .btn-md-primary{
                        background-color:#DBDEE4;
                        width: 15em;
                        @media (max-width:768px){
                            display: block;
                            width:95%;
                            margin: 5px auto 0px;
                            border-radius: 5px!important;
                        }                
                    }
                    .btn-md-primary:hover{
                        background-color: $primaryRed;
                        color: white;
                        font-weight: 600;
                        font-style: bold;
                        @media (max-width:768px){
                            display: inline-block;
                            border-radius: 5px!important;
                        }
                    }
                }
                .contestation-icon{
                    background-color: ghostwhite;
                    width: 6em;
                    height: 6em;
                    padding: 20px;
                    margin: 0px auto;
                    border-radius: 100%;
                    color: $primaryRed;
                }
                .contestation-control{
                    display: flex;
                    width: 50%;
                    margin: 10px auto;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    .mobile{
                        display: none;
                    }
                    @media (max-width:768px){
                       width: 100%;
                       .some-text{
                           display: none;
                           
                       }
                       .btn-previous,.btn-next{
                        display: inline-block!important;
                    }
                    }
                    
                }
                .btn-previous,.btn-next{
                    width: 4em;
                    height: 4em;
                    border-radius: 100%;
                    background-color: $primaryRed;
                    color: white;
                    padding: 5px;
                    margin: 10px;
                    text-align: center;
                    font-size: 0.7em;
                }
                
            }
        }
        
        
        .main-content{
            width: 100%;
            .easy-rad-brief{
                width: 70%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                padding: 0px;
                text-align: left;
                margin: 15em auto;
                h1{
                    width: 60%;
                    text-align: left;
                    text-transform: capitalize;
                    @media(max-width:769px){
                        font-size: 1.0em;
                        width: 100%;
                    }
                }
                .some-text{
                    width: 60%;
                    hyphens: none;
                    @media(max-width:769px){
                        width: 100%;
                    }
                }
                .btn-primary{
                    margin: 3em 0em;
                }
                iframe{
                    width: 100%;
                    @media(max-width:769px){
                        height: 200px;
                    }
                }
                .asset{
                    object-fit: contain;
                    text-align: right;
                    height: 100%;

                    @media(max-width:769px){
                        order: 1;
                        text-align: center;
                        margin-bottom: 20px;
                        object-fit: contain;
                        
                    }
                }
                .slice{
                    height: 300px; 
                    img{
                        width: 100%;
                        height: 300px;
                        border-radius: 5px; 
                        object-fit: cover!important;
                        object-position: top;
                        @media(max-width:769px){
                            order: 1;
                            margin-bottom: 20px;
                            width: 100%;
                        }
                    }                    
                }
                img{
                    width: 100%;
                    border-radius: 5px; 
                    object-fit: contain;
                    @media(max-width:769px){
                        order: 1;
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }
                .column-reverse{
                    flex-direction: column-reverse!important;
                    @media(max-width:769px){
                        flex-direction: column!important;
                    }
                }
                
                .conducteur-col{
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    hyphens: none;
                    font-family: $root-font-family;
                    font-size: 1.0em;

                    .h1{
                        width: 90%;
                        font-size: 1.5em;
                    }
                    .some-text{
                        width: 100%;
                        text-align: justify;
                        hyphens: none;
                        
                    }
                    .img-col-slice{
                       height: 200px; 
                       object-fit: cover;
                       object-position: 20%;
                       margin: 10px auto;
                       border-radius: 30px;
                       
                    }

                }
                .brief{
                    padding-top: 50px;
                    @media(max-width:769px){
                        
                        padding-top:20px;
                        order: 2;
                        text-align: center;
                        .hr{
                            width: 100%;
                        }
                        .h1{
                            text-align: center;
                        }
                    }
                }
                
            }
            .video-brief{
                margin: 8em auto!important;
                @media(max-width:769px){
                    margin: 3em auto!important;
                }
            }
            .video-brief-col{
                margin: 2em auto!important;
                @media(max-width:769px){
                    margin: 3em auto!important;
                }
                
            }
            header {
                position: relative;
                height: fit-content;
                background-color: #d3e3e793;
                margin-top: -100px;
                svg {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 10vw;
                    
                  }
                .La-presse-en-parle{
                    width: 70%;
                    text-align: center;
                    margin: 10px auto;
                    p{
                        text-align: center;
                    }
                    .btn-previous,.btn-next{
                        width: 3em;
                        height: 3em;
                        border-radius: 100%;
                        background-color: $primaryRed;
                        color: white;
                        padding: 5px;
                        margin: 10px auto!important;
                        text-align: center;
                        font-size: 0.7em;
                    }
                    .btn-play{
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-color: $primaryRed;
                        color: white;
                        padding: 3px;
                        text-align: center;
                        font-size: 0.5em;
                        margin:5px;
                    }
                    .video-row{
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-evenly;
                        padding: auto 10px;
                        margin: 30px 0px 50px;
                        .col-md-1.col-0{
                            padding: 20px 0px!important;
                        }
                        @media(max-width:769px){
                            flex-flow: column;
                            justify-content: center;
                            text-align: center;
                            .btn-previous,.btn-next{
                                display: none;
                            }
                        }
                    }
                    .video-card{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        padding: 10px;
                        min-width: 230px;
                        height: 100px;
                        border-radius: 5px!important;
                        .col-4{
                            padding: 5px 0px!important;
                            text-align: left!important;
                        }
                        .thumb-nail{
                            width: 70px;
                            height:70px;
                            margin: auto auto !important;
                            border-radius: 5px;
                        }
                        .col-2{
                            padding: 20px 0px;
                        }
                        .content{
                            text-align: left;
                            padding: 20px 0px;
                            p.sm-heading{
                                text-align: left;
                                margin: auto 0px;
                                font-family: inherit;
                                font-style: bold;
                                font-weight: 700;
                            }
                            p.sm-video-text{
                                text-align: left;
                                margin: 0 0px;
                                font-family: inherit;
                                font-size: 0.8em;
                                font-style: normal;
                                font-weight: 400;
                            }
                        }
                        @media(max-width:769px){
                            width: 100%;
                            max-width: 350px;
                            height:100px;
                            margin: 10px auto;
                        }
                    }
                    .mission{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin: 50px 0px -30 0px;
                        text-align: center;
                        @media(max-width:769px){
                            flex-flow: column;
                            justify-content: center;
                        }

                        .mission-card{
                            width: 18em;
                            min-width: 15em;
                            background-color: white;
                            z-index: 10;
                            object-fit: contain;
                            padding: 10px;
                            border-radius: 5px;
                            margin: 10px;
                            img{
                                width:100%;
                                max-height:calc(width);


                            }
                            h2{
                                font-size: 1.0em;
                                text-align: center;

                            }
                            @media(max-width:769px){
                                margin: 10px auto;
                                width: 90%;
                            }
                            .btn{
                                margin-bottom: 30px;
                            }
                        }
                        .mission-card:hover{
                            box-shadow: $shadow;
                        }
                    }
                }
            }
            .counter{
                width: 80%;
                margin: 100px auto;
                .counter-elements{
                    width: 30%;
                    margin: 20px auto;
                    @media(max-width:769px){
                        width: 100%;
                    }
                    .hr{
                        width: 100%;
                    }
                    .counter-numbers{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                        .count{
                            background-color: white;
                            width:80px;
                            height: 120px;
                            box-shadow: $shadow;
                            text-align: center;
                            padding:10px;
                            @media(max-width:769px){
                                width: 70px;
                                height: 100px;
                            }
                            .h0{
                                font-family: $font-bebas;
                                font-size: 4.5em;
                                font-weight: 900;
                                font-style: bolder;
                                @media(max-width:769px){
                                    font-size: 4.0m;
                                    font-weight: 800;
                                    margin:0px;
                                }
                            }
                        }
                    }
                }
            }
            .certifies{
                width: 80%;
                text-align: left;
                margin: 0px auto;
                .certifies-wrapper{
                    width: 70%;
                    margin: 0px auto;
                    text-align: left;
                    .hr{
                        width: 30%;
                        @media(max-width:769px){
                            width: 90%;
                        }
                    }
                    .row-wrapper{
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                    }
                }
            }
            .voir-aussi-wrapper{
                text-align: center!important;
                .h1{
                    margin: 0px auto!important;
                    text-align: center;
                }
                .voir-aussi-row{
                    width: 70%;
                    margin: 0px auto;
                    padding: 20px;
                    @media(max-width:768px){
                         width: 90%;   
                    }
                    .voir-card{
                        background-color: $primaryRed;
                        border-radius: 5px;
                        padding: 20px 40px;
                        text-align: center;
                        width:100%;
                        @media(max-width:768px){
                            height: fit-content;
                            margin-bottom: 20px;
                        }
                        
                        .white-heading{
                            font-size: 1.5em;
                            font-weight: 500;
                        }
                        .some-text{
                            margin: 30px;
                        }

                    }

                }
                .video-card{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding: 10px;
                    width: 70%;
                    margin: 20px auto;
                    height: 100px;
                    border-radius: 5px!important;
                    @media(max-width:768px){
                        width: 30%;
                        flex-flow: row wrap;
                        height: 200px!important;
                    }
                    .col-4{
                        width: 50%;
                        margin:0px 10px 0px -50px;
                        padding: 0px;
                        text-align: left!important;
                        @media(max-width:768px){
                            margin: 0px;
                            width: 100%;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 5px;
                            text-align: center;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            object-fit: cover;
                        }
                    }
                    .thumb-nail{
                        width: 70px;
                        height:70px;
                        margin: auto auto !important;
                        border-radius: 5px;
                    }
                    .col-2{
                        padding: 20px 0px;
                        .btn-check{
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            background-color: $primaryRed;
                            color: white;
                            padding: 3px;
                            text-align: center;
                            font-size: 0.5em;
                            margin:5px;
                            
                        }
                    }
                    a{
                        .fa{
                            color: $primaryRed;
                            font-size: 2.0em;
                        }
                        .fa:hover{
                            font-size: 2.2em;
                        }
                    }
                    .content{
                        text-align: left;
                        padding: 20px 0px;
                        p.sm-heading{
                            text-align: left;
                            font-size: 0.8em;
                            margin: auto 0px;
                            font-family: inherit;
                            font-style: bold;
                            font-weight: 700;
                        }
                        p.sm-video-text{
                            text-align: left;
                            margin: 0 0px;
                            font-family: inherit;
                            font-size: 0.6em;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                    @media(max-width:769px){
                        width: 100%;
                        max-width: 350px;
                        height:100px;
                        margin: 10px auto;
                    }
                }
            }
            .header{
                position: relative;
                height: fit-content;
                background-color: #d3e3e793;
                margin-top: 100px;
                svg {
                    z-index: 1!important;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 20vw;
                    transform: rotate(180deg);
                  }

                .conducteur{
                    z-index: 50!important;
                    width: 70%;
                    text-align: center;
                    margin: 100px auto;
                    position: relative;
                    .mission{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin: 20px 0px -30 0px;
                        text-align: center;
                        @media(max-width:769px){
                            flex-flow: row wrap;
                            justify-content: center;
                        }
                        .mission-card{
                            width: 15em;
                            min-width: 15em;
                            background-color: white;
                            z-index: 10;
                            object-fit: contain;
                            padding: 10px;
                            border-radius: 5px;
                            margin: 10px;
                            @media(max-width:769px){ 
                                width: 40%;  
                                min-width: 10em;      
                            }
                            button{
                                visibility: hidden;
                            }
                            img{
                                width:100%;
                                max-height:calc(width);
                            }
                            h2{
                                font-family: $font-bebas;
                                font-size: 1.0em;
                                text-align: center;
                                font-weight: 800;
                            }
                        }
                        .mission-card:hover{
                            background-color: $primaryRed;
                            color: white;
                            margin-top: -5px;
                            box-shadow: $shadow;
                            button{
                                visibility: visible;
                                background-color: white!important;
                                .sm-button-text{
                                    color: $primaryRed!important;
                                    text-transform: capitalize;
                                    font-style: bolder;
                                    font-weight: 600;
                                }
                            }
                            h2{
                                color:ghostwhite;
                            }
                        }
                    }
                }
               .nos-actulites{
                   .row-actulites{
                       width: 70%;
                       height: 300px;
                       margin: 20px auto;
                       display: flex;
                       flex-flow:row wrap;
                       justify-content: space-between;
                       @media(max-width:769px){
                           width: 100%;
                           height: fit-content;
                       }
                       
                       .col-1-actulites{
                        width: 30%;
                        height:300px;
                        margin: 10px;
                        background-image: linear-gradient(rgba(95, 95, 95, 0.466),rgba(99, 99, 99, 0.438)), url(../assets/actulites-1.png);
                        background-size: cover;
                        @media(max-width:769px){
                            width: 80%;
                            margin: 10px auto;
                        }

                        }
                        .col-2-actulites{
                            width: 30%;
                            height:300px;
                            margin: 10px;
                            background-image:linear-gradient(rgba(95, 95, 95, 0.466),rgba(99, 99, 99, 0.438)), url(../assets/actulites-2.png);
                            background-size: cover;
                            @media(max-width:769px){
                                width: 80%;
                                margin: 10px auto;
                            }
 
                        }
                        .col-3-actulites{
                            width: 30%;
                            height:300px;
                            margin: 10px;
                            background-image: linear-gradient(rgba(95, 95, 95, 0.466),rgba(99, 99, 99, 0.438)), url(../assets/actulites-3.png);
                            background-size: cover;
                            @media(max-width:769px){
                                width: 80%;
                                margin: 10px auto;
                            }
 
                        }
                        .fa{
                            position: relative;
                            top: 240px;
                            left:20px;
                            color: whitesmoke;
                            opacity: 0.8;
                        }
                    }
                }
                .fondateur{
                    width: 70%;
                    margin: 0px auto;
                    .row-fondateur{
                        width: 100%;
                        margin: 50px auto;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        .fondateur-img{
                            margin-bottom: -90px;
                            @media(max-width:769px){
                                order: 10;
                                img{
                                    width: 100%;
                                    margin-bottom: 37px;
                                }
                                
                            }
                        }
                        .fondateur-inner{
                            padding: 330px 90px 0px;
                            @media(max-width:769px){
                                order: 1;
                                padding: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .partners{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                margin: 100px 0px;
                @media(max-width:768px){
                    display: none;
                }
                .partner-logo{
                    height: 100px;
                    object-fit: contain;
                    text-align: center;
                    overflow: hidden;
                    img{
                      width: 50%; 
                      margin: auto 5px;                     
                    }
                }
            }
            
            
            
        }
    }
}
.h1{
    text-transform: capitalize;
    text-align: left;
    font-weight: 700;
    font-family: $font-bebas;
    font-style: bold;
}
.center{text-align: center;}
.some-text{
    font-family:$root-font-family;
    font-size: 0.8em;
}
.white{
    color: white;
}
.sm-button-text{
    color: white;
    font-family: $root-font-family;
    font-style:bold;
    font-size: $root-font-size;
    margin: 0px;
}
.btn-md-primary{
    background-color: $primaryRed;
    padding: 5px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    min-width: 8em;
}
.red-heading{
    color: $primaryRed;
    font-family: 'Bebas Neue',Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 2.0em;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
    width: 100%;
    @media(max-width:769px){
        font-size: 1.5em;
        font-weight: 600;
    }
}  
.white-heading{
    color: white;
    font-family: 'Bebas Neue',Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 2.0em;
    text-align: center;
    text-transform: Capitalize;
    margin: 10px 0px;
    width: 100%;
    @media(max-width:769px){
        font-size: 1.5em;
        font-weight: 600;
    }
}  
.h0{
    font-family: $font-bebas;
    font-size: 1.5em;
    font-weight: 500;
    font-style: bold;
    margin: 5px;
    @media(max-width:769px){
        font-size: 1.5m;
        font-weight: 400;
        margin:0px;
    }
}  
.h3{
    font-family: $font-bebas;
    font-size: 1.0em;
    font-weight: 500;
    font-style: bold;
    margin: 0px;
    @media(max-width:769px){
        font-size: 1.0m;
        font-weight: 400;
        margin:0px;
    }
}
.flip-card {
    background-color: transparent;
    width: 30%;
    min-width: 250px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    margin: 20px 0px;
    padding: 0px;
    @media(max-width:769px){
        margin:10px auto;
        width:100%;
        height: 350px;
    }
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    @media(max-width:769px){
        margin:0px auto;
        width:100%;
        height: 100%;
    }
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
      background-color:$primaryRed;
      overflow: hidden;
      color: black;
      padding: 0px;
      img{
          width: 100%!important;
          height: inherit!important;
      }
  }
  
 
  .flip-card-back {
    background-color: $primaryRed;
    color: white;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
    .fa{
        color:ghostwhite;
        margin: 5px 3px!important;
        text-align: center;
    }
    @media(max-width:769px){
        padding: 40px 40px;
    }
  }
a{
    text-decoration: none;
    color: $primaryBlack;
    display: block;
}
a:hover{
    color:$primaryRed;
    font-style:bolder;
    font-weight: 600;
} 
.inline{
    display: inline;
}
.hero-nav{
    padding: 10px 70px;
    height: 50px;
    @media(max-width:769px){
        padding: 10px;
    }
}
.text-left{
    text-align: left;
    @media(max-width:769px){
        text-align: center;
    }
} 
.swap-first{
    order:1;
    width: 48%;
    margin-right: 0px;
    @media(max-width:768px){
        width: 100%;
    }
}  
.swap-second{
    order:2;
}   
.bold{
    font-weight: 600;
    font-style: bold;
}
.btn-group{
    margin: 0px auto!important;
}
.section-benefits {
    margin-top: -200px;
    background: $white;
    border-radius: $spacing-xs;
    box-shadow: $shadow;
    .single-benefit {
        padding: $spacing-lg $spacing-md;
        @include media-breakpoint-down(xs) {
            padding-bottom: $spacing-xl;
        }
        .benefit-icon {
            margin-bottom: $spacing;
            padding: $spacing $spacing-xl;
            text-align: center;
            img {
                max-width: 100px;
            }
        }
        .benefit-desc {
            .title {
                font-size: 22px;
                font-weight: 700;
                font-family: $body-font;
                line-height: 1em;
                text-align: center;
            }
            .description {
                margin-bottom: 22px;
                text-align: center;
                font-size: 14px;
                line-height: 1em;
            }
            a {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                i {
                    margin-right: 10px;
                    color: #f70037;
                }
            }
        }
    }
}