body {
    font-family: $body-font;
    line-height: 1.8;
    color: $easyrad-dark;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: $heading-font;
    text-transform: uppercase;
    position: relative;
    @include media-breakpoint-down(md) {
		font-size: 32px;
    }
    @include media-breakpoint-down(sm) {
		font-size: 32px;
    }
    &.section-title {
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 $spacing-lg 0;
    }
    &.light-weight {
        font-weight: 100;
        font-size: 80px;
        @include media-breakpoint-down(sm) {
            font-size: 56px;
        }
    }
}

h2 {
    font-size: 36px;
    font-family: $heading-font;
    position: relative;
    margin-bottom: $spacing-lg;
    font-weight: 700;
	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

h3 {
    font-size: 28px;
    font-family: $heading-font;
    position: relative;
    margin-bottom: $spacing-lg;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

h4 {
    font-size: 22px;
    font-weight: 700;
    font-family: $heading-font;
    line-height: 1.8em;
    position: relative;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

.btn {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    margin: $spacing 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.8rem;
    &.btn-primary {
        color: $white !important;
        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
        }
        &:hover {
            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
    &.btn-lg {
        padding: 1rem 2rem;
        font-size: 18px;
    }
    &.btn-secondary {
        color: $white !important;
        background-color: $easyrad-dark;
        border: 0;
        position: relative;
    }
    &.btn-tag {
        background-color: $gray-200;
    }
    &.btn-conteste {
        border-radius: $spacing-max;
    }
    &.btn-sm {
        padding: .25rem .5rem;
        font-size: .875rem;
    }
}

#wrapper-static-content {
    @include media-breakpoint-up(sm) {
        padding: 0;
    }
}

#search-btn {
    border:none !important;
    background: none !important;
}

.content-area {
    overflow: hidden;
}

.post {
    .entry-header {
        .entry-title {
            font-size: 36px;
            text-transform: none;
        }
        .entry-meta {
            .byline {
                display: none;
            }
        }
    }
}
.fine-print {
    font-size: 10px;
}

.section {
    padding: 100px 0;
    @include media-breakpoint-down(xs) {
        padding: 60px 0;
    }
    &.dark {
        background: $easyrad-dark;
        color: $white;
        &.negative-margin {
            @include media-breakpoint-up(md) {
                margin-top: -200px;
            }
        }
    }
}

.number-overlay {
    top: 72px;
    height: 100px;
    background: $white;
    display: none;
    .number {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        .header-contact {
            margin: 0;
            font-size: 24px;
            font-weight: 800;
            line-height: 1em;
            color: $easyrad-plum;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 $spacing;
        }
        .fine-print {
            background: $easyrad-plum;
            height: 100%;
            width: 100%;
            color: $white;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @include media-breakpoint-up(md) {
        position: absolute;
        width: 250px;
        right: $spacing-sm;
        border-top: 1px solid $gray-300;
    }
}

.contact-cta {
    color: $white;
    padding: $spacing-xxl;
    background: $easyrad-gray;
}
.section-who {
    padding: 0;
    .who-block {
        display: flex;
        align-items: center;
        
        @include media-breakpoint-down(xs) {
            display: block;
        }
        .about-text {
            background: $easyrad-grey;
            position: relative;
            z-index: 2;
            padding: $spacing-xl;
            @include media-breakpoint-up(md) {
                margin-right: -100px;
                max-width: 600px;
                float: right;
            }
            h1 {
                font-weight: 500;
                padding: 0 0 $spacing-lg 0;
            }
            @include media-breakpoint-down(xs) {
                padding: $spacing-lg;
                margin: 0 auto;
            }
        }
        .about-img {
            position: relative;
            z-index: 1;
        }
    }
}

.section-reputation {
    .reputation-block {
        display: flex;
        @include media-breakpoint-down(xs) {
            display: block;
        }
        .reputation-tabs {
            position: relative;
            .nav-link {
                color: $easyrad-dark;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 600;
                border-bottom: 1px solid $gray-200;
                padding: $spacing-lg $spacing-sm;
                border-radius: 0;
                position: relative;
                &.active {
                    background: $gray-100;
                    &:after {
                        position: absolute;
                        font-family: 'Material Icons';
                        content: '\e5cc';
                        -webkit-font-feature-settings: 'liga';
                        font-size: 24px;
                        color: $primary;
                        right: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            @include media-breakpoint-down(xs) {
                padding: $spacing-lg;
                margin: 0 auto;
            }
        }
    }
}

.product-section {
    .product {
        height: 100%;
        margin-bottom: $spacing-xxl;
        a {
            padding: $spacing-md;
            display: block;
            height: 100%;
            &:hover {
                box-shadow: $shadow;
                border-radius: 2px;
            }
        }
        .product-item {
            height: 100%;
            a {
                display: inline-block;
            }
            &.woocommerce {
                .pi-img-wrapper {
                    max-height: 300px;
                    height: 300px;
                    text-align: center;
                    img {
                        max-height: 100%;
                    }
                    @include media-breakpoint-down(md) {
                        height: 200px;
                    }
                }
                .entry-title {
                    color: $easyrad-dark;
                    font-weight: 300;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-price {
                    color: $easyrad-dark;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-rating {
                    float: left;
                    padding: $spacing 0;
                }
            }
        }
    }
}

.logo-section {
    .logo-carousel {
        .client-logo {
            padding: $spacing-sm;
        }
    }
}

.material-icons {
    margin-right: $spacing;
    @include media-breakpoint-down(xs) {
        margin-right: 0 !important;
    }
}

.page-header {
    padding: 100px 0;
    .header-text {
        .big-heading {
            padding: 0 0 $spacing-lg 0;
            position: relative;
            margin-bottom: $spacing-lg;
            &:after {
                position: absolute;
                content:"";
                width: 80px;
                height: 5px;
                bottom: 0;
                left: 0;
                background: $primary;
            }
        }
        .small-heading {
            padding: $spacing-lg 0;
            font-weight: 600;
            span {
                color: $primary;
            }
            &:after {
                display: none;
            }
        }
    }
    .breadcrumbs-top {
        padding-bottom: $spacing-lg;
        color: $primary;
        span {
            margin: 0 $spacing;
            &:first-of-type {
                margin-left: 0;
            }
            a {
                color: $easyrad-blue-gray;
            }
            .current-item {
                color: $gray-100;
            }
        }
    }
}

.page-section {
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxl;
    .section-title {
        text-align: center;
        font-weight: 700;
        position: relative;
        padding-bottom: $spacing-lg;
        &:after {
            position: absolute;
            content:"";
            width: 80px;
            height: 5px;
            bottom: 0;
            background: $primary;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.mute {
            color: $gray-600;
            text-transform: uppercase;
            text-align: left;
            font-weight: 500;
            &:after {
                display: none;
            }
        }
    }
    .section-benefits {
        margin-top: -200px;
        
        @include media-breakpoint-down(xs) {
            border-radius: 0;
        }
        .featured {
            z-index: 200;
            @include media-breakpoint-down(sm) {
                .benefit-icon {
                    order: -1;
                }
            }
        }
        .before-last {
            z-index: 150;
        }
        .single-benefit {
            padding: $spacing-lg $spacing-md;
            background: $white;
            border-radius: $spacing-xs;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            @include media-breakpoint-down(sm) {
                padding: $spacing;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-bottom: 1px solid $gray-300;
                box-shadow: none;
                border-radius: 0;
                height: 130px;
            }
            &:hover {
                transform: scale(1.1);
            }
            .benefit-icon {
                margin-bottom: $spacing;
                padding: $spacing;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                max-height: 100px;
                img {
                    max-height: 100%;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 22px;
                    img {
                        max-width: 100px;
                    }
                    width: 150px;
                }
                @include media-breakpoint-down(md) {
                    padding: $spacing-sm;
                }
                .avis-verifies-testimonials {
                    width: 100%;
                    text-align: center;
                    .review-stars {
                        padding: $spacing;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: $rating-orange;
                        .material-icons {
                            @include media-breakpoint-down(xs) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .benefit-desc {
                @include media-breakpoint-down(sm) {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                }
                .title {
                    font-size: 20px;
                    font-weight: 300;
                    font-family: $body-font;
                    line-height: 1.5em;
                    text-align: center;
                    &.price {
                        font-size: 72px;
                        line-height: 1em;
                        color: $primary;
                        font-weight: 700;
                        @include media-breakpoint-down(xs) {
                            font-size: 60px;
                        }
                        span {
                            font-size: 24px;
                            color: $easyrad-blue-gray;
                        }
                    }
                    span {
                        display: block;
                        font-size: 36px;
                        font-weight: 800;
                        line-height: 1.2em;
                        color: $primary;
                        @include media-breakpoint-down(xs) {
                            font-size: 24px;
                        }
                    }
                }
                .description {
                    margin-bottom: 22px;
                    text-align: center;
                    font-size: 16px;
                    line-height: 1.5em;
                    color: $gray-700;
                    @include media-breakpoint-down(xs) {
                        text-align: left;
                        margin: 0;
                    }
                }
                a {
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    i {
                        margin-right: 10px;
                        color: #f70037;
                    }
                }
            }
        }
    }
    &.categories-other {
        .section-title {
            text-align: left;
            &:after {
                left: 0;
                transform: none;
            }
        }
    }
}

.main-color {
    color: $primary !important;
}

.section-logos {
    padding: $spacing-max 0;
    .section-title {
        text-align: center;
        margin: 0;
    }
    .media {
        padding: $spacing-xxl 0;
        overflow: hidden;
        .media-coverage {
            .gs_logo_area {
                .gs_logo_single {
                    max-width: 200px;
                    .gs_logo_single--inner {
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

.section-why {
    .single-why {
        background: $white;
        border-radius: $spacing-sm;
        box-shadow: $shadow;
        margin-bottom: $spacing-xl;
        @include media-breakpoint-down(xs) {
            padding-bottom: $spacing-xl;
        }
        .why-image {
            margin-bottom: $spacing;
            text-align: center;
            border-radius: $spacing-sm $spacing-sm 0 0;
            overflow: hidden;
        }
        .why-desc {
            text-align: center;
            margin-top: $spacing-lg;
            padding: $spacing-md;
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1em;
                text-align: center;
                margin-bottom: $spacing;
                text-transform: uppercase;
            }
            .description {
                text-align: center;
            }
            a {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                i {
                    margin-right: 10px;
                    color: #f70037;
                }
            }
        }
    }
}

.section-tutorial {
    padding: $spacing-xxl 0;
    .tutorial-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $spacing-xxl;
        .tutorial-text {
            max-width: 500px;
            .text-heading {
                position: relative;
                padding-bottom: $spacing;
                margin-bottom: $spacing-lg;
                &:after {
                    position: absolute;
                    content:"";
                    width: 200px;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(to right, $primary , $white);
                }
            }
        }
    }
	.tutorial-video {
        position: relative;
        .video-block {
            height: 100%;
            min-height: 200px;
            border-radius: $spacing-xs;
            overflow: hidden;
            @include media-breakpoint-down(xs) {
                min-height: 250px;
            }
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.section-rights {
    background: $gray-200;
    padding: $spacing-max 0 0;
    @include media-breakpoint-down(xs) {
        background-position: 20% center;
    }
    .section-title {
        color: $easyrad-dark;
    }
    .single-rights {
        background: $white;
        border-radius: $spacing-sm;
        box-shadow: $shadow;
        margin-bottom: $spacing-xl;
        padding: $spacing;
        @include media-breakpoint-down(xs) {
            padding-bottom: $spacing-xl;
        }
        .rights-image {
            margin-bottom: $spacing;
            text-align: center;
            border-radius: $spacing;
            overflow: hidden;
        }
        .rights-desc {
            text-align: center;
            margin-top: $spacing-lg;
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1em;
                text-align: center;
                margin-bottom: $spacing;
            }
            .description {
                text-align: center;
                min-height: 180px;
            }
            a {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                i {
                    margin-right: 10px;
                    color: #f70037;
                }
            }
        }
    }
}

.section-blogs {
    padding: 100px 0;
    @include media-breakpoint-down(xs) {
        background-position: 20% center;
    }
    .section-title {
        color: $easyrad-dark;
    }
    .single-blog {
        background: $white;
        border-left: 3px solid $gray-300;
        margin-bottom: $spacing-xl;
        overflow: hidden;
        @include media-breakpoint-down(xs) {
            padding-bottom: $spacing-xl;
        }
        .blog-image {
            margin-bottom: $spacing;
            text-align: center;
            overflow: hidden;
        }
        .blog-desc {
            margin-top: $spacing;
            padding: $spacing-md;
            .blog-category {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 700;
                .post-categories {
                    list-style-type: none !important;
                    margin: $spacing-xs 0 $spacing-sm;
                    padding: 0;
                    a {
                        color: $gray-500;
                    }
                }
            }
            .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1em;
                margin: 0;
            }
            .description {
                padding: $spacing 0;
            }
        }
    }
}

.section-ratings {
    padding: 0;
    .ratings-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-brief {
    padding: $spacing-xxl 0;
    .brief-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-xxl;
        .brief-text {
            .text-heading {
                position: relative;
                padding-bottom: $spacing;
                margin-bottom: $spacing-lg;
                &:after {
                    position: absolute;
                    content:"";
                    width: 200px;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(to right, $primary , $white);
                }
            }
        }
    }
	.brief-video {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .video-block {
            width: 100%;
            height: 360px;
            border-radius: $spacing-xs;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}


blockquote {
	&::before {
		content: open-quote;
		opacity: 0.25;
		padding: 0 10px;
		font-size: 3em;
	}
	&::after {
		content: close-quote;
		opacity: 0.25;
		padding: 0 10px;
		font-size: 3em;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
}

.parallax-break {
    padding: 0;
    background-image: url(../img/fast-red-car.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 200px;
}

.section-press {
    padding: $spacing-xxl 0;
    background-image: url(../img/wave-press.svg);
    background-size: cover;
    background-repeat: no-repeat;
    .section-title {
        color: $easyrad-dark;
        text-align: center;
    }
    .press-carousel {
        position: relative;
        @include media-breakpoint-down(xs) {
            margin: 0;
        }
        .owl-stage-outer {
            margin-bottom: $spacing-lg;
        }
        .owl-nav {
            position: absolute;
            top: 40%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .owl-prev {
                margin-left: -70px;
                background: $primary;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 36px;
                line-height: 0.5em;
                color: $white;
                text-decoration: none;
                @include media-breakpoint-down(xs) {
                    margin-left: -10px;
                }
            }
            .owl-next {
                margin-right: -70px;
                background: $primary;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 36px;
                line-height: 0.5em;
                color: $white;
                text-decoration: none;
                @include media-breakpoint-down(xs) {
                    margin-right: -10px;
                }
            }
        }
    }
    .press-row {
        padding-top: $spacing-xxl;
        display: flex;
        justify-content: center;
        align-items: stretch;
        @include media-breakpoint-down(xs) {
            max-width: 320px;
            display: block;
        }
        .press-content {
            
            position: relative;
            .channel-block {
                border-radius: $spacing-xs;
                overflow: hidden;
                max-width: 300px;
                @include media-breakpoint-down(xs) {
                    border-radius: $spacing-xs $spacing-xs 0 0;
                }
                img {
                    width: auto;
                }
            }
            .press-text {
                border-radius: $spacing-xs;
                background-color: $white;
                position: relative;
                .text-body {
                    padding: $spacing-sm;
                    margin-bottom: $spacing-lg;
                    position: relative;
                    .quote {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: $heading-font;
                        padding-left: $spacing-sm;
                        &:before{
                            content: "\201C";
                            font-family: Arial;
                            color: $easyrad-blue-gray;
                            font-size: 8em;
                            position: absolute;
                            left: -5px;
                            top: -55px;
                            opacity: 0.3;
                          }
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 14px;
                    }
                }
                &:after {
                    content: ' ';
                    height: 0;
                    position: absolute;
                    width: 0;
                    border: 24px solid transparent; 
                    border-top-color: $gray-100; 
                    bottom: -36px;
                    left: 10%;
                    z-index: 2;
                }
            }
        }
        .video-block {
            border-radius: $spacing-xs;
            overflow: hidden;
            height: 100%;
            background: $black;
            img {
                object-fit: cover;
                height: 100%;
            }
            @include media-breakpoint-down(xs) {
                border-radius: 0 0 $spacing-xs $spacing-xs;
            }
        }
    }
}

.section-points {
    padding: $spacing-max 0;
    .section-title {
        text-align: center;
    }
    .section-subtitle {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        font-weight: 300;
    }
    .points-row {
        display: flex;
        align-items: center;
        justify-content: center;
        .points-counter {
            padding-top: $spacing-xxl;
            text-align: center;
            .tick {
                font-size: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: $spacing-lg 0;
                @include media-breakpoint-down(sm) {
                    font-size: 60px;
                }
                .channel-block {
                    img {
                        margin-top: -60px;
                    }
                }
                .press-text {
                    max-width: 500px;
                    .text-body {
                        padding: $spacing-lg;
                        margin-bottom: $spacing-lg;
                    }
                }
                .tick-credits {
                    display: none !important;
                }
                .tick-flip {
                    .tick-flip-card {
                        .tick-flip-panel {
                            background-color: $white;
                            color: $easyrad-dark;
                        }
                    }
                }
            }
            .text-heading {
                color: $primary;
                max-width: 500px;
                margin: 0 auto;
            }
    
        }
    }
}

.section-founder {
    padding: $spacing-lg 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .founder-image {
        .image-block {
            margin-bottom: -75px;
            @include media-breakpoint-down(xs) {
                margin-bottom: -55px;
            }
        }
    }
    .founder-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .founder-text {
            .text-heading {
                span {
                    font-weight: 400;
                }
            }
        }
    }
}

.section-cta {
    padding: $spacing-xxl 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-section {
    display: flex;
    justify-content: center;
    .category {
        margin-bottom: $spacing-lg;
        .category-inner {
            padding: $spacing-lg 0;
            word-wrap: break-word;
        }
        .category-image {
            margin-top: $spacing-lg;
            overflow: hidden;
            height: 240px;
            max-height: 240px;
            display: flex;
            align-items: center;
            background: $white;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.wp-blocks-gallery {
    .blocks-gallery-item {
        figcaption {

        }
    }
}

.contact-page {
    .content-area {
        .contact-info {
            background: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $spacing-sm;
            color: $white;
            margin-bottom: $spacing-xxl;
            a {
                color: $white;
            }
            .pretitle {
                margin: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.contact-info {
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-sm;
    color: $white;
    a {
        color: $white;
    }
    .pretitle {
        &:after {
            display: none;
        }
    }
}

.nf-form-content {
    max-width: initial !important;
    .nf-field-element {
        div {
            border: 0 !important;
        }
        input {
            border: 0 !important;
        }
        textarea {
            border: 0 !important;
        }
    }
}


.left-dash {
    padding-left: 30px;
    position: relative;
    &:after {
        position: absolute;
        content:"";
        width: 20px;
        height: 3px;
        background: $primary;
        left: 0;
        top: 50%;
    }
}

.category-page {
    @include media-breakpoint-up(lg) {
        margin-top: -250px;
    }
    .category-section {
        display: flex;
        justify-content: center;
        .category-search {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: $spacing-xxl 0;
            h6 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                color: $easyrad-dark;
                margin: $spacing 0;
            }
        }
        .category-block {
            margin-bottom: $spacing-lg;
            .category-inner {
                padding: $spacing-lg 0;
                word-wrap: break-word;
                .category-title {
                    a {
                        color: $easyrad-dark;
                    }
                }
                .product-count {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 14px;
                    padding: $spacing-xs 0;
                }
            }
            .category-image {
                margin-top: $spacing-lg;
                overflow: hidden;
                height: 240px;
                max-height: 240px;
                display: flex;
                align-items: center;
                background: $white;
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

.page-header {
    .header-row {
        .header-text {
            color: $white;
            .headline {
                color: $white;
            }
        }
    }
}

.header-light {
    .page-header {
        .header-row {
            .header-text {
                color: $easyrad-dark;
                .headline {
                    color: $easyrad-dark;
                }
            }
        }
    }
}

.about-page {
    .page-header {
        .header-row {
            position: relative;
            .header-text {
                .headline {
                    color: $easyrad-dark;
                    font-size: 200px;
                    font-weight: 900;
                    margin: 0;
                    padding: 0;
                    @include media-breakpoint-down(sm) {
                        font-size: 100px;
                    }
                    &:after {
                        display: none;
                    }
                }
                .pretitle {
                    color: $easyrad-dark;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    &:after {
                        display: none;
                    }
                }
            }
            .about-text {
                position: absolute;
                right: 0;
                bottom: -250px;
                background: $easyrad-dark;
                padding: $spacing-xl;
                color: $white;
                max-width: 400px;
                @include media-breakpoint-down(sm) {
                    position: relative;
                    bottom: 0;
                }
                p {
                    position: relative;
                    padding-top: $spacing-lg;
                    &:before {
                        position: absolute;
                        content:"";
                        width: 40px;
                        height: 5px;
                        top: 0;
                        left: 0;
                        background: $primary;
                    }
                }
            }
        }
    }
    .content-area {
        padding: 100px 0;
    }
    .about-contact-block {
        .about-contact {
            .block-left {
                position: relative;
                background-image: url(../img/section-besoin-d-aide-web-reverse.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                padding-top: 50px;
                min-height: 500px;
                margin-left: -100px;
                @include media-breakpoint-down(sm) {
                    margin-left: 0;
                    min-height: 250px;
                }
                .block-left-content {
                    padding-left: 250px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 50px;
                    }
                    .heavy-weight {
                        font-size: 200px;
                        font-weight: 900;
                        margin: 0;
                        padding: 0;
                        @include media-breakpoint-down(sm) {
                            font-size: 60px;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
                .block-left-cta {
                    position: absolute;
                    bottom: -40px;
                    left: 100px;
                }
            }
            .block-right {
                padding-top: 100px;
                display: flex;
                align-items: center;
            }
        }
    }
    .about-innovation {
        padding: 400px 0 100px;
        background: url(../img/vault-dark-bg-web.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        @include media-breakpoint-down(sm) {
            padding: 100px 0 50px;
        }
        .innovation-content {
            display: flex;
            justify-content: center;
            h2 {
                padding: 0;
                &:after {
                    display: none;
                }
            }
            .pretitle {
                padding: $spacing-lg 0;
            }
        }
    }
}

.services-page {
    .page-header {
        .header-row {
            position: relative;
            .header-text {
                color: $easyrad-dark;
                .headline {
                    color: $easyrad-dark;
                }
            }
        }
    }
    .services-slider {
        @include media-breakpoint-up(lg) {
            margin-top: -200px;
        }
        .services-section {
            padding-top: $spacing-lg;
            .owl-theme {
                .owl-stage-outer {
                    overflow: visible;
                }
                .owl-nav {
                    position: absolute;
                    top: -50px;
                    right: 0;
                    margin: 0;
                    [class*='owl-'] {
                        background: $easyrad-dark;
                        color: $white;
                        padding: $spacing; 
                        font-size: 36px;
                        width: 50px;
                        height: 50px;
                        line-height: 0.5;
                    }
                }
            }
            .service-block {
                position: relative;
                .service-inner {
                    padding: $spacing-lg;
                    word-wrap: break-word;
                    .service-title {
                        a {
                            color: $easyrad-dark;
                        }
                    }
                    .service-subtitle {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 14px;
                        padding: $spacing-xs 0;
                    }
                }
                .service-image {
                    margin-top: $spacing-lg;
                    overflow: hidden;
                    max-height: 240px;
                    display: flex;
                    align-items: center;
                    background: $white;
                    img {
                        object-fit: fill;
                        // height: 100%;
                    }
                }
                .service-cta {
                    position: absolute;
                    top: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity .35s ease;
                }
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
                    .service-cta {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    .services-contact-block {
        .services-contact {
            .block-left {
                background-image: url(../img/repair-man-dark-bg_long.jpg);
                background-position: 220px top;
                background-size: contain;
                min-height: 900px;
                background-repeat: no-repeat;
                padding-top: 100px;
                @include media-breakpoint-down(sm) {
                    min-height: 500px;
                    background-position: 110px top;
                }
                .light-weight {
                    color: transparent;
                    background: linear-gradient(to right, $easyrad-dark 0%,$easyrad-dark 25%,$white 25.01%,$white 100%);
                    -webkit-background-clip: text;
                    &:after {
                        display: none;
                    }
                }
            }
            .block-right {
                padding-top: 100px;
            }
        }
    }
    .services-investment {
        padding: 400px 0 100px;
        background: url(../img/vault-dark-bg-web.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        backdrop-filter: grayscale(1);
        @include media-breakpoint-down(sm) {
            padding: 200px 0 50px;
        }
        .investment-content {
            display: flex;
            justify-content: center;
            h2 {
                padding: 0;
                &:after {
                    display: none;
                }
            }
            .pretitle {
                padding: $spacing-lg 0;
            }
        }
    }
}

.pretitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: $spacing-xs 0;
    display: flex;
    align-items: center;
}

.contact-block {
    padding: 0;
    .contact-content {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        h1 {
            padding-bottom: $spacing;
            &:after {
                right: 0;
                left: initial;
                color: $easyrad-dark;
            }
        }
    }
}

.service-page {
    .content-area {
        margin-top: -40px;
        padding-bottom: 100px;
    }
}

#homeModal {
    .modal-content {
        
        background-color: transparent;
        border: 0;
        @include media-breakpoint-up(sm) {
            width: 600px;
        }
        .modal-header {
            border: 0;
            margin-bottom: $spacing-lg;
            .close {
                background: $white;
                color: $easyrad-dark;
                border-radius: 50%;
                line-height: .7;
                padding: 0.8rem;
                opacity: 1;
            }
        }
        .modal-body {
            padding: 0;
        }
        .modal-footer {
            border: 0;
            justify-content: center;
            flex-direction: column;
            color: $white;
        }
    }
}

.modal-backdrop.show {
    opacity: .8;
}
.post-title a {
    text-transform: uppercase;
}
.post-title {
    text-transform: uppercase;
}

